# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
*.o
*.os
Native/bin
.idea/
**/idea/
.vscode/
**/cmake-build-debug/
**/cmake-build-release/
